  <h1>{{article.title}}</h1>
    <h5>Written by {{article.author}}</h5>
    <p>{{article.body}}</p>
    <hr>
    <a class="btn btn-primary" href="/articles/edit/{{article._id}}">Edit</a>
    <a class="btn btn-danger" id="delete-article" href="/articles/delete/" data-id="{{article._id}}">Delete</a>